.founder {
    text-align: center;
    flex: 1;
    margin: 0 20px;
}

.founder h2 {
    font-size: 18px;
}

.founder p {
    font-size: 14px;
}

.founder img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.headline-section {
    background-color: black !important;
    color: white;
    padding: 20px;
}

.about-section {
    background-color: black !important;
    color: white;
    padding: 20px;
}

body {
    background-color: #000000;
    color: white;
}