header {
    position: static;
    width: 100vw;
    top: 0;
    left: 0;
}

#navbar {
    background-color: white !important;
}


.navbar-nav .nav-link {
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    text-align: center; /* Center the text */
    display: block; /* Ensure block display for full width on mobile */
    width: auto; /* Auto width for mobile */
    
}

.navbar-nav .nav-link:hover {
    border-color: black; /* Change to your desired color */
}

/* Desktop styles */
@media (min-width: 992px) {
    .navbar-nav .nav-link {
        width: 100px; /* Fixed width for desktop */
        display: inline-block; /* Inline block for horizontal alignment */
    }

    .navbar-nav {
        display: flex; /* Flexbox for alignment */
        justify-content: flex-end; /* Align nav items to the right */
    }

    .navbar-brand {
        font-size: 2rem; /* Larger font size for desktop */
    }
    
}

.nav-link.text-black {
    color: #000000 !important; /* Force the link color to black */
}

footer {
    margin-top:5vw;
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: #ffc107;
    text-decoration: none;
}
