body {

    background: black;
}

.btn-primary {

    background: green;
    color: white;
    border: none;

}

.form-group {

    background: black;
    color: white;

}

.container {

    background: black;
    color: white;

}

.bg-dark {

    background: black;
    color: white;

}