body {

    background: black !important;
}

.btn btn-primary {

    background: green;
    color: white;

}

.form-group {

    background: black !important;
    color: white;

}

.form-group {

    background: black !important;
    color: white;

}

.container {

    background: black !important;
    color: white;

}