{% extends 'base.html' %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block title %} Vanessa Kottas - Resume {% endblock %}

{% block head %}  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
{% endblock %}

{% block content %}
    <div class="hero-banner">
        <h1>dough diaries</h1>
        <p>Track your dough like a pro - <br> because every penny has a story to tell</p>
        <a href="#" class="btn">Explore now</a>
    </div>

    <!-- <div class="container">
        <h2>Welcome to our website!</h2>
        <p>This is the homepage content.</p>
        <button class="primary">Learn More</button>
    </div> -->

    <div class="usp-section">
        <div class="usp1">Manage your finances</div>
        <div class="usp2">Monitor your spending</div>
        <div class="usp3">Do daily challenges</div>
    </div>

    <div class="headline-section">Meet our founders</div>

    <div class="about-section">
        <div class="founder">
            <img src="{{ url_for('static', filename='img/Headshot_Andrew.jpg') }}" alt="Founder 1">
            <h2>Andrew</h2>
            <p>Andrew is a visionary entrepreneur with a passion for innovation. <br> He co-founded our startup with a mission to revolutionize the industry.</p>
        </div>
        
        <div class="founder">
            <img src="{{ url_for('static', filename='img/Headshot_Vanessa.png') }}"alt="Founder 2">
            <h2>Vanessa</h2>
            <p>Vanessa is a seasoned expert in marketing and business development. <br> With her strategic insights, she drives our startup towards success.</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}


