<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <title>dough diaries - your finance management app</title>
    
</head>
<body>
    <header>
        <img src="/img/dough.png" alt="doug diaries logo white" class="logo">
        <nav>
            <a href="index.html">Home</a>
            <a href="about.html">About Us</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <div class="hero-banner">
        <h1>dough diaries</h1>
        <p>Track your dough like a pro - <br> because every penny has a story to tell</p>
        <a href="#" class="btn">Explore now</a>
    </div>

    <!-- <div class="container">
        <h2>Welcome to our website!</h2>
        <p>This is the homepage content.</p>
        <button class="primary">Learn More</button>
    </div> -->

    <div class="usp-section">
        <div class="usp">
        <img class="usp-icon" src="/img/dough_diaries_favicon_64x64.png" alt="Manage your finances">
        <div class="usp1">Manage your finances</div>
        </div>
        <div class="usp">
        <img class="usp-icon" src="/img/dough_diaries_favicon_64x64.png" alt="Manage your finances"
        <div class="usp2">Monitor your spending</div>
        </div>
        <div class="usp">
        <img class="usp-icon" src="/img/dough_diaries_favicon_64x64.png" alt="Manage your finances"
        <div class="usp3">Do daily challenges</div>
        </div>
    </div>

    <div class="headline-section">Meet our founders</div>

    <div class="about-section">
        <div class="founder">
            <img src="/img/Headshot_Andrew.jpg" alt="Founder 1">
            <h2>Andrew</h2>
            <p>Andrew is a visionary entrepreneur with a passion for innovation. <br> He co-founded our startup with a mission to revolutionize the industry.</p>
        </div>
        
        <div class="founder">
            <img src="/img/Headshot_Vanessa.png" alt="Founder 2">
            <h2>Vanessa</h2>
            <p>Vanessa is a seasoned expert in marketing and business development. <br> With her strategic insights, she drives our startup towards success.</p>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 dough diaries. All rights reserved.</p>
    </footer>
</body>
</html>
