{% extends 'base.html' %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block title %} Home - dough diaries {% endblock %}

{% block head %}  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
{% endblock %}

{% block content %}
    <div class="hero-banner">
        <h1>dough diaries</h1>
        <p>Track your dough like a pro - <br> because every penny has a story to tell</p>
        <a href="#" class="btn">Explore now</a>
    </div>

    <!-- <div class="container">
        <h2>Welcome to our website!</h2>
        <p>This is the homepage content.</p>
        <button class="primary">Learn More</button>
    </div> -->

    <div class="container my-5 usp-section">
        <div class="row">
            <div class="col-md-4 text-center usp1">Manage your finances</div>
            <div class="col-md-4 text-center usp2">Monitor your spending</div>
            <div class="col-md-4 text-center usp3">Do daily challenges</div>
        </div>
    </div>

    <!-- <div class="container my-5 headline-section">
        <h2 class="text-center">Meet our founders</h2>
    </div>

    <div class="container my-5 about-section">
        <div class="row">
            <div class="col-md-6 text-center founder">
                <img src="{{ url_for('static', filename='img/Headshot_Andrew.jpg') }}" alt="Founder 1" class="img-fluid rounded-circle mb-3">
                <h2>Andrew</h2>
                <p>Andrew is a visionary entrepreneur with a passion for innovation. <br> He co-founded our startup with a mission to revolutionize the industry.</p>
            </div>
            <div class="col-md-6 text-center founder">
                <img src="{{ url_for('static', filename='img/Headshot_Vanessa.png') }}" alt="Founder 2" class="img-fluid rounded-circle mb-3">
                <h2>Vanessa</h2>
                <p>Vanessa is a seasoned expert in marketing and business development. <br> With her strategic insights, she drives our startup towards success.</p>
            </div>
        </div>
    </div> -->
    
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}


